# Compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/test

# Linters
.eslint*
.prettierrc

# Elastic Beanstalk Files
.elasticbeanstalk/*

# Docker
/Dockerfiles
.dockerignore
Dockerrun.aws.json

# Others
README.md